<div class="row">
	<!-- Album art -->
	<div class="col-sm-4">
		<img src="{{cover || '/resources/images/cover.jpg'}}" alt="{{album.Album}}" width="100%" style="margin-bottom: 30px"/>
	</div>

	<!-- Album info -->
	<div class="col-md-8">
		<h3>{{album.artist.Artist}} - <em>{{album.Album}}</em></h3>

		<!-- 'Bin','N&WC','NIB','TBR','OOB','Missing','Library','NBNB' -->
		<!-- TODO: Update colors of these -->
		<span ng-show="album.Status=='Bin'" class="label label-danger">In the bin</span>
		<span ng-show="album.Status=='N&WC'" class="label label-primary">New and Way Cool</span>
		<span ng-show="album.Status=='NIB'" class="label label-default">Not in Bin</span>
		<span ng-show="album.Status=='TBR'" class="label label-primary">To be reviewed</span>
		<span ng-show="album.Status=='OOB'" class="label label-default">Out of bin</span>
		<span ng-show="album.Status=='Missing'" class="label label-warning">Missing</span>
		<span ng-show="album.Status=='Library'" class="label label-default">In the library</span>
		<span ng-show="album.Status=='NBNB'" class="label label-info">New but not in bin</span>

		<span ng-show="album.Year">&nbsp;&bull;&nbsp; {{album.Year}}</span>
		<span ng-show="album.ReleaseNum">&nbsp;&bull;&nbsp; {{album.ReleaseNum}}</span>

		<hr>

		<div class="row">
			<div class="col-sm-6">
				<div click-to-edit="album.Album" edit-label="Name"></div>
				<div click-to-edit="album.Year" edit-label="Year"></div>
			</div>
			<div class="col-sm-6">
				<div click-to-edit="album.ReleaseNum" edit-label="Release"></div>
				<div click-to-select="album.Status" edit-label="Status" edit-selections="statuses"></div>
			</div>
		</div>
	</div>

	<div ng-repeat="review in album.reviews" class="col-md-12">
		<blockquote>
			{{review.Review}}
		</blockquote>
	</div>

</div>
