<div class="row">
  <div class="col-md-4">
    <div class="tile">
      <h4>Shows</h4>
      <div ng-repeat="program in programs">{{program.Program}}</div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Start a new playlist <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="program in programs"><a href="#/playlist/new/{{program.ProgramID}}">{{program.Program}}</a></li>
          <li class="divider"></li>
          <li><a href="#">Random Playlist</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="tile">
      <h4>Reviews</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="tile">
      <h4>Something else</h4>
    </div>
  </div>
</div>
