<div class="row">
  <div class="col-sm-9">
    <input type="text" class="form-control" ng-model="query" ng-keyup="autocomplete()" placeholder="Just start typing" style="margin-bottom:20px;" autofocus>
  </div>

  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">{{toQuery.name}}<span class="caret"></span></button>
      <span class="dropdown-arrow dropdown-arrow-inverse"></span>

      <ul class="dropdown-menu dropdown-inverse" style="width: 100%;">
        <li ng-repeat="type in types"><a ng-click="selected($index)">{{type.name}}</a></li>
      </ul>
    </div>
  </div>

</div><!--/.row -->

<!-- Results -->
<div class="row">
  <div ng-show="results.length === 0 && query.length !== 0">
    <center>Sorry, I couldn't find anything. Perhaps check your spelling?</center>
  </div>
  <div class="col-md-4" ng-repeat="item in results">
    <a ng-href="#{{item.url}}">
      <div class="tile">
        <div>{{item.name}}</div>
        <small ng-show="item.sub">{{item.sub}}</small>
      </div>
    </a>
  </div>
</div>
