<form action="/users/session" method="post">
      <ul>
          <li>
              <label for="username">Email</label>
              <input id="username" type="text" name="username" value="{{ username }}" >
          </li>
          <li>
              <label for="password">Password</label>
              <input id="password" type="password" name="password" >
          </li>
          <li>
              <button type="submit">Go</button>
          </li>
      </ul>
  </form>
