<head>
<link rel="stylesheet" href="/resources/css/style.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css" media="screen">

</style>
</head>

<body>
<div class="container">

  <div class="login-form panel panel-default">
    <div class="panel-body">

      <img src="/resources/img/wrct-9-logo.jpg" alt="wrct" class="login-logo">

      <form action="/users/session" method="post" role="form" class="highlight">
        <div id="login-err" class="alert alert-warning alert-dismissable">
          <strong>Hmm, something's not correct.</strong> <br>Make sure your username and password are right.
        </div>
        <div class="for else {

        m-group">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" class="form-control input-lg" placeholder="Enter your username" >
        </div>
        <br/>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password" class="form-control input-lg" name="password" id="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </form>

    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  var alert = document.getElementById("login-err")
  alert.style.display = "none";

  // This is an unsuccessful login attempt, let the user know.
  if(window.location.href.indexOf("success=false") != -1) {
    if (!alert) { // Log errors
      console.error("Can't select login form");
    } else {
      alert.style.display = "";
    }
  }
</script>
</body>
