<head>
<link rel="stylesheet" href="/resources/css/style.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/flat-ui.css">
<style type="text/css" media="screen">
  body {
    background-color: #34495e;
  }
</style>
</head>

<body>
<div class="container">

  <div class="login-form tile">

    <h1>Login</h1>

    <form action="/users/session" method="post" role="form"  >

      <!-- Error message -->
      <div id="login-err" class="alert alert-warning alert-dismissable">
        <strong>Hmm, something's not correct.</strong> <br>Make sure your username and password are right.
      </div>

      <!-- Username -->
      <div class="form-group">
        <input id="username" type="text" name="username" class="form-control input-lg login-field" placeholder="Enter your username" autofocus>
        <label class="login-field-icon fui-user" for="username"></label>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control input-lg login-field" name="password" id="password" placeholder="...and your password">
        <label class="login-field-icon fui-lock" for="password"></label>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>

  </div>
</div>
<script type="text/javascript" charset="utf-8">
  var alert = document.getElementById("login-err")
  alert.style.display = "none";

  // This is an unsuccessful login attempt, let the user know.
  if(window.location.href.indexOf("success=false") != -1) {
    if (!alert) { // Log errors
      console.error("Can't select login form");
    } else {
      alert.style.display = "";
    }
  }
</script>
</body>
