<!-- TODO: Put this in angular at some point, so that logging in is faster
    and so that we can handle things like redirections to intended pages. -->
<!doctype html>
<html lang="en">

<head>
  <title>WRCT: Login</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/flat-ui.css">
  <style type="text/css" media="screen">
    body {
      background-color: #34495e;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="login-form tile">
      <h1>WRCT</h1>

      <form action="/users/session" method="post" role="form"  >
        <!-- Error message -->
        <div id="login-err" class="alert alert-warning alert-dismissable">
          <strong>Hmm, something's not correct.</strong> <br>Make sure your username and password are correct.
        </div>

        <!-- Username -->
        <div class="form-group">
          <input id="username" type="text" name="username" class="form-control input-lg login-field" placeholder="Enter your username" autofocus>
          <label class="login-field-icon fui-user" for="username"></label>
        </div>

        <!-- Password -->
        <div class="form-group">
          <input type="password" class="form-control input-lg login-field" name="password" id="password" placeholder="...and your password">
          <label class="login-field-icon fui-lock" for="password"></label>
        </div>

        <!-- Login button -->
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
      </form>
      <a class="show-signup">Sign Up</a>

    </div><!-- /.login-form.tile -->
    <div class="signup-form tile">
      <h1>WRCT</h1> 
      <form action="/users/new" method="post" role="form">
        <!-- First Name -->
        <div class="form-group">
          <input type="text" class="fname form-control input-lg login-field" name="FName" placeholder="Enter your first name...">
          <span class="input-icon fui-check-inverted"></span>
          <div class="error-message"></div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <input type="text" class="lname form-control input-lg login-field" name="LName" placeholder="...and your last name.">
          <span class="input-icon fui-check-inverted"></span>
          <div class="error-message"></div>
        </div>

        <div class="part2">
          <!-- Username -->
          <div class="form-group">
            <input id="user" type="text" name="User" class="username form-control input-lg login-field" placeholder="Enter a username" autofocus>
            <span class="input-icon fui-check-inverted"></span>
            <div class="error-message"></div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <input type="password" class="password form-control input-lg login-field" name="Password" placeholder="and a password (at least 8 characters)">
            <span class="input-icon fui-check-inverted"></span>
            <div class="error-message"></div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <input type="text" class="email form-control input-lg login-field" name="Email" placeholder="Lastly, your email">
            <span class="input-icon fui-check-inverted"></span>
            <div class="error-message"></div>
          </div>
        </div>
        
        <!-- Signup button -->
        <button type='submit' class="btn btn-lg btn-block submit-signup" disabled>Sign Up</button>
        <a class="show-login">Login</a>
      </form>
    </div>
  </div><!-- /.container -->

  <!-- Scripts! --> 
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/2.4.1/lodash.min.js"></script>
  <script type="text/javascript" src="resources/js/login.js"></script>
  <script  charset="utf-8">

  </script>

</body>
</html>
