.menu-item {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
}
.menu-item:hover {
  text-decoration: underline;
}
.main {
  margin-top: 80px;
}
.login-form {
  margin: 40px auto 0;
  max-width: 400px;
}

.login-logo {
  width:100%;
  margin: 30px auto;
}
.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.plays {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plays li {
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 20px;
  line-height: 1.5em;
  border-radius: 3px;
  background: #EEE;
}
