.menu-item {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
}
.menu-item:hover {
  text-decoration: underline;
}
.main {
  margin: 20px;
}
.login-form {
  margin: 40px auto 0;
  max-width: 400px;
}

.login-logo {
  width:100%;
  margin: 30px auto;
}
.container {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.plays {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plays li {
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 20px;
  line-height: 1.5em;
  border-radius: 3px;
  background: #EEE;
}

.route-view {
  max-width: 1200px;
  margin: 0 auto;
}

.left-align{
  text-align: left;
}

/* Bootstrap overwrites */
/* NOTE: May include !important flags, as we're
   loading bootstrap from a CDN. */
.navbar {
  margin-bottom: 20px !important;
}

.tile {
  margin-bottom:20px;
}
