<div style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif; width:600px; margin:0 auto; text-align:center;">
    <h1>404 - IT AIN'T HERE</h1>
    <h2>I don't know what you were looking for, but I don't have it.</h2>
    <h5>You should quit snooping around. It's not healthy.</h5>
</div>
