<div style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif; width:600px; margin:0 auto; text-align:center;">
    <h1>500 - THERE BE PROBLEMS!</h1>
    <h2>You set something on fire over here.</h2>
    <h5>I don't know why you hate us so much. Whatever man.</h5>
</div>
